@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;900&family=Poppins:wght@600&family=Roboto+Mono:wght@300;500&display=swap');

html{
   font-family: 'Roboto Mono', sans-serif;
   font-size: 62.5%;
}

/*variables*/
:root{
   --primary-color: green;
   --body-bg: black;
}

/*global styles*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

body{
   width: 100%;
   height: 100vh;
   overflow-x: hidden;
   background-color: var(--body-bg);
   color: white;
}

header{
   margin-top: 20px;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   padding: 1rem 9%;
   background-color: transparent;
   filter: drop-shadow(10px);
   display: flex;
   justify-content: space-between;
   align-items: center;
   z-index: 100;
}

logo:hover .stars {
   display: block;
   filter: drop-shadow(0 0 10px white);
}
.logo{
   font-size: 3rem;
   color: rgb(122, 255, 122);
   font-weight: 800;
   cursor: pointer;
   transition: 0.5s ease;
   font-family: cursive;
}

.logo:hover{
   transform: scale(1.1);
}

nav a{
   font-size: 1.8rem;
   color: white;
   margin-left: 4rem;
   font-weight: 500;
   transition: 0.3s ease;
   border-bottom: 3px solid transparent;
}

nav a:hover,
nav a.active{
  color: green;
  border-bottom: 3px solid green;
}

@media(max-width:995px){
   nav{
      position: absolute;
      display: none;
      top: 0;
      right: 0;
      width: 40%;
      border-left: 3px solid green;
      border-bottom: 3px solid green;
      border-bottom-left-radius: 2rem;
      padding: 1rem solid;
      background-color: black;
      border-top: 0.1rem solid rgba(0,0,0,0,.1);
    }
    
    nav.active{
       display: block;
    }

    nav a{
       display: block;
       font-size: 2rem;
       margin: 3rem 0;
    }

    nav a:hover,
    nav a.active{
       padding: 1rem;
       border-radius: 0.5rem;
       border-bottom: 0.5rem solid green;
    }
}

section{
   min-height: 100vh;
   padding: 5rem 9% 5rem; 
}

/*home section*/
.home .home-content h1{
   font-size: 6rem;
   font-weight: 700;
   line-height: 1.3;
}

.home-content span{
  color: green;
}

.home-content h3{
   font-size: 4rem;
   margin-bottom: 1rem;
   font-weight: 700;
}

.home-img{
   border-radius: 50%;
}

.home-content p{
   font-size: 2rem;
}

.home-img img{
   position: relative;
   width: 32vw;
   border-radius: 50%;
   box-shadow: 0 0 25px solid green;
   cursor: pointer;
   transition: 0.2s linear;
}

.home-img img:hover{
   font-size: 1.8rem;
   font-weight: 500;
}

.social-icons a{
   display: inline-flex;
   justify-content: center;
   align-items: center;
   width: 4rem;
   height: 4rem;
   background-color: transparent;
   border: 0.2rem solid green;
   font-size: 2rem;
   border-radius: 50%;
   margin: 3rem 1.5rem 3rem 0;
   transition: 0.3s ease;
   color: rgb(255, 255, 255);
}

.social-icons a:hover{
   color: rgb(0, 0, 0);
   transform: scale(1.3) translateY(-5px);
   background-color: green;
   box-shadow: 0 0 25px green;
}

.typing-text{
   font-size: 34px;
   font-weight: 600;
   min-width: 280px;
}

.typing-text span{
   position: relative;
}

.typing-text span::before{
   content: "Second Year College";
   color: green;
   animation: words 20s infinite;
}

.typing-text span::after{
   content: "";
   background-color: black;
   position: absolute;
   width: calc(100% + 8px);
   height: 100%;
   border-left: 3px solid black;
   right: -8;
   animation: cursor 0.6s infinite;
}

@keyframes cursor{
   to{
      border-left: 3px  green;
   }
}

@keyframes words{
   0%, 20%{
     content: "Crocheter";
   }
   21%, 40%{
     content: "K-Drama Lover"; 
   }
   41%, 60%{
     content: "Pogier";
   }
   61%, 80%{
     content: "165 Taller hehe"
   }
   81%, 100%{
     content: "love u 4ever<3"
   }
}

@media (max-width: 1000px){
   .home{
      gap: 4rem;
   }
}

@media(max-width:995px){
   .home{
      flex-direction: column;
      margin: 5rem 4rem;
    }

   .home .home-content h3{
      font-size: 2.5rem;
   }

   .home-content h1{
     font-size: 5rem;
   }

   .home-img img{
     width: 70vw;
     margin-top: 4rem;
   }
}

/*about style*/

.about-content h5{
   height: 200px;
   width: 500px;
   font-size: 2rem;
   box-sizing: border-box;
   border-left: 1px dashed green;
   border-right: 1px dashed green;
   border-top: 1px dashed green;
   border-bottom: 1px dashed green;
   padding: 6px;;
   position: absolute;
   background: rgb(44, 110, 24);
   color: white;
   
}

.about-content span{
   color: white;
}

.educ-content{
   font-size: 2rem;
}